<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="oAuthConsumerKey" value="iWz0AOXhV2btwCx9x2my5fSEI"/>
    <add key="oAuthConsumerSecret" value="R8ruHI54vq6rjexi8ZpwyxaN7HFlFOxlWUA8gmnWfrHiYkizj6"/>
    <add key="oAuthUrl" value="https://api.twitter.com/oauth2/token"/>
    <add key="timelineFormat" value="https://api.twitter.com/1.1/statuses/user_timeline.json?screen_name={0}&amp;include_rts={1}&amp;exclude_replies={2}&amp;count={3}"/>
    <add key="screenname" value="screenname"/>
    <add key="include_rts" value="1"/>
    <add key="exclude_replies" value="0"/>
    <add key="count" value="10"/>
  </appSettings>
</configuration>
